<div>
  <mat-form-field>
    <input matInput placeholder='Application name' [(ngModel)]='applicationName' (ngModelChange)='onApplicationNameChanged()' />
  </mat-form-field>
  <mat-icon *ngIf='applicationNameValid === true' class='ok'>done</mat-icon>
  <mat-icon *ngIf='applicationNameValid === false' class='fail'>clear</mat-icon>
</div>

<div *ngIf='applicationKey'>
  <mat-form-field>
    <input matInput placeholder='Application key' [value]='applicationKey' class='application-key' readonly />
  </mat-form-field>
</div>

<mat-spinner *ngIf='loading' [diameter]='25'></mat-spinner>

<div>
  <button mat-raised-button [disabled]='applicationNameValid !== true || loading' color="primary" (click)='onRegisterButtonClick()'>Register</button>
</div>

<div>
  <a [routerLink]="['/']">
    To login
  </a>
</div>