<div class="app-name-container">
  <h3 class="app-name">
    {{application.applicationName}}

    <span *ngIf='loading' class="spinner">
        <mat-spinner [diameter]='25'></mat-spinner>
      </span>
  </h3>
</div>

<div class="workbench">
  <div class="navigation">
    <ul *ngIf='application.services && application.services.length'>
      <li *ngFor='let service of application.services'>
        {{ service.serviceName }}
        <ul *ngIf='service.environments && service.environments.length'>
          <li *ngFor='let environment of service.environments' class="env" [class.active]='environment === activeEnv' (click)='onEnvClicked(service, environment)'>
            {{ environment.environmentName }}
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="configs-wrapper">
    <div *ngIf='activeEnv' class="configs">
        <!-- <div *ngFor='let config of activeConfigs'>
          <span><b>{{config.name}}</b></span> - <span>{{config.value}}</span>
        </div> -->

        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="activeConfigs">
        
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="value">
              <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="['name', 'value']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['name', 'value'];"></mat-row>
          </mat-table>
        </div>
        

    </div>
  </div>

</div>
