.app-name-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .app-name {
        margin: auto;
        padding: 10px;
        position: relative;

        .spinner {
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.workbench {
    display: flex;
}

.navigation {
    background-color: antiquewhite;
    padding: 10px;

    .mat-list-item.mat-2-line.service {
        height: 140px;

        .service-icon {
            align-self: start;
        }

        .service-name {
            padding-top: 18px;
        }
    }

    .env {
        cursor: pointer;

        .mat-list-item-content {
            padding: 0 !important;
        }

        &:hover .env-name {
            font-style: italic;
            text-shadow: 0 0 0.65px #1cd2ef, 0 0 0.65px #34c4f0;
        }

        &.active .env-name {
            font-style: italic;
            text-shadow: 0 0 .65px #333, 0 0 .65px #333;
        }
    }
}

.configs-wrapper {
    background-color: azure;
    flex-grow: 1;
    min-width: 0;  
    padding: 10px;

    mat-row {
        height: 48px;

        mat-cell {
            padding: 0 5px;
    
            .config-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            mat-form-field {
                width: 100%;

                .mat-form-field-infix {
                    border-top-width: 1.1rem;
                }
            }
        }
    }
}