.app-name-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .app-name {
        margin: auto;
        padding: 10px;
        position: relative;

        .spinner {
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.workbench {
    display: flex;
}

.navigation {
    background-color: antiquewhite;
    padding: 10pt;

    .env {
        cursor: pointer;

        &:hover {
            background-color: aliceblue;
        }

        &.active {
            background-color: darkgoldenrod;
        }
    }
}

.configs-wrapper {
    background-color: azure;
    width: 100%;
    padding: 10pt;

    mat-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
    }
}