.app-name-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .app-name {
        margin: auto;
        padding: 10px;
        position: relative;

        .spinner {
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.workbench {
    display: flex;

    .navigation {
        width: 30%;

        .mat-list-item.service {
            height: unset;

            .service-icon {
                align-self: start;
            }

            .service-name {
                padding-top: 8px;
                cursor: default;
            }

            .mat-input-wrapper {
                padding: 0;

                .mat-form-field-infix {
                    border-top: none;
                }

                .mat-form-field-underline {
                    bottom: 0;
                }
            }
        }

        .envs {
            overflow: unset;

            .env {
                cursor: pointer;
    
                .mat-list-item-content {
                    margin-left: -25px;
                }
    
                &:hover .env-name {
                    font-style: italic;
                    text-shadow: 0 0 0.65px #1cd2ef, 0 0 0.65px #34c4f0;
                }
    
                &.active .env-name {
                    font-style: italic;
                    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
                    cursor: default;
                }
            }

        }
    }

    .configs-wrapper {
        flex-grow: 1;
        min-width: 0;  
        padding: 10px;
        margin-top: 50px;

        mat-row {
            height: 48px;
            cursor: default;

            mat-cell {
                padding: 0 5px;
        
                .config-text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
        
                mat-form-field {
                    width: 100%;

                    .mat-form-field-infix {
                        border-top-width: 1.1rem;
                    }
                }
            }
        }
    }
}