$default-font: "roboto-example", sans-serif;
$accent-color: #C7DDE2;

$contW: 600px;
$imgW: 200px;
$formW: $contW - $imgW;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

