$default-font: "roboto-example", sans-serif;
$accent-color: #C7DDE2;

$contW: 700px;
$imgW: 300px;
$formW: $contW - $imgW;
$switchAT: .5s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

