.app-name-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .app-name {
        margin: 0;
        padding: 10px;
        position: relative;
        width: 250px;
        font-weight: 400;
        text-align: center;

        input {
            text-align: center;
        }

        .spinner {
            position: absolute;
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.workbench {
    display: flex;

    .navigation {
        width: 30%;

        .mat-list-item.service {
            height: unset;

            .service-icon {
                align-self: start;
                padding: 4px;
            }

            .service-name-wrapper {
                display: flex;
                align-items: center;

                .service-name {
                    padding-top: 8px;
                    margin: 0;
                    line-height: 24px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: default;
                }

                .delete-icon {
                    padding-top: 8px;
                }
            }

            .mat-input-wrapper {
                padding: 0;

                .mat-form-field-infix {
                    border-top: none;
                }

                .mat-form-field-underline {
                    bottom: 0;
                }
            }
        }

        .envs {
            overflow: unset;

            .env {
                cursor: pointer;
    
                .mat-list-item-content {
                    margin-left: -25px;
                }
    
                .env-name-wrapper {
                    display: flex;
                    align-items: center;

                    .env-name {
                        margin: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                &:hover .env-name {
                    font-style: italic;
                    text-shadow: 0 0 0.65px #1cd2ef, 0 0 0.65px #34c4f0;
                }
    
                &.active .env-name {
                    font-style: italic;
                    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
                    cursor: default;
                }
            }
        }

        .delete-icon {
            display: none;
            margin-left: auto;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }

        .service-name-wrapper:hover .delete-icon, .env-name-wrapper:hover .delete-icon {
            display: inline-block;
        }

        .env-name-wrapper:hover .delete-icon {
            display: inline-block;
        }

        .add-button {
            min-width: 40px;
            height: 32px;
            padding-top: 0;
            padding-bottom: 0;   
        }
    }

    .configs-wrapper {
        flex-grow: 1;
        min-width: 0;  
        padding: 10px;
        margin-top: 50px;

        mat-row {
            height: 48px;
            cursor: default;

            mat-cell {
                padding: 0 5px;
        
                .config-text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
        
                mat-form-field {
                    width: 100%;

                    .mat-form-field-infix {
                        border-top-width: 1.1rem;
                    }
                }

                &.remove {
                    max-width: 15px;
                    text-align: center;

                    mat-icon {
                        cursor: pointer;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }

        .add-config-button {
            margin-top: 10px;
            color: #3f51b5;
        }
    }
}