<div class="grid">
  <div class="header">
    <h3 class="app-name">
      <editable-input [(data)]='application.applicationName' (changed)='onApplicationNameChanged($event.newValue)'></editable-input>
    </h3>
    <span *ngIf='loading' class="spinner">
      <mat-spinner [diameter]='25'></mat-spinner>
    </span>
  </div>


  <div class="navigation">

    <div *ngFor="let service of application.services">
      <mat-list>
        <mat-list-item class="service">
          <mat-icon mat-list-icon class="service-icon">dvr</mat-icon>
          <div mat-line>
            <editable-input [(data)]='service.serviceName' (changed)='onServiceNameChanged(service)'></editable-input>
          </div>
          <mat-icon mat-list-icon class='delete-icon' (click)='onDeleteEnvIconClick(service, env)'>clear</mat-icon>
        </mat-list-item>
      </mat-list>
    
      <mat-list mat-line dense *ngIf='service.environments && service.environments.length' class="envs">
        <mat-list-item *ngFor="let env of service.environments" class="env" [class.active]='env === activeEnv' (click)='onEnvClicked(service, env)'>
          <mat-icon mat-list-icon class='logo-icon'>settings</mat-icon>
          <div mat-line>
              <editable-input class="env-name" [(data)]='env.environmentName' (changed)='onEnvNameChanged(service, env)'></editable-input>
          </div>
          <mat-icon mat-list-icon class='delete-icon' (click)='onDeleteEnvIconClick(service, env)'>clear</mat-icon>
        </mat-list-item>
      </mat-list>
    </div>

    <button mat-subheader mat-button class="add-button" (click)='openAddDialog()'>
        <mat-icon>add</mat-icon>
        <span>Add</span>
      </button>
  </div>

  <div class="configs-wrapper">
    <div *ngIf='activeConfigs' class="configs"> 
      <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="activeConfigs">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let config">
              <editable-input [(data)]='config.name' (changed)='onConfigNameChanged($event, config)'></editable-input>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
            <mat-cell *matCellDef="let config">
              <editable-input [(data)]='config.value' (changed)='onConfigValueChanged(config)'></editable-input>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell class="remove" *matCellDef="let config">
              <mat-icon (click)='onDeleteConfigIconClick(config)'>clear</mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['name', 'value', 'remove']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['name', 'value', 'remove'];"></mat-row>
        </mat-table>
      </div>

      <button mat-subheader mat-button class="add-config-button" (click)='onAddConfigButtonClick()'>
        <mat-icon>add</mat-icon>
        <span>Add config</span>
      </button>

    </div>

  </div>
</div>