$separator: 10px;

.grid {
    display: grid;
    height: 100vh;
    grid: auto $separator 1fr / #{$separator} 30% $separator 1fr $separator;
    grid-template-areas: 
        ". header header header ." 
        ". . . . ." 
        ". navigation . configs .";
}

.header {
    grid-area: header;
    display: grid;
    grid: 1fr / 1fr $separator 50px;
    grid-template-areas: "app-name . loader .";

    .app-name {
        grid-area: app-name;
        justify-self: center;
        font-weight: 400;
        
        input {
            text-align: center;
        }
    }
        
    .spinner {
        grid-area: loader;
        align-self: center;
        justify-content: center; 
    }
}

.navigation {
    grid-area: navigation;

    .envs {
        padding-left: 35px;

        .env {
            cursor: pointer;
            &:hover .env-name {
                font-style: italic;
                text-shadow: 0 0 0.65px #1cd2ef, 0 0 0.65px #34c4f0;
            }
            &.active .env-name {
                font-style: italic;
                text-shadow: 0 0 .65px #333, 0 0 .65px #333;
                cursor: default;
            }
        }
    }

    .delete-icon {
        display: none;
        order: 1;
        text-align: center;
        font-size: 20px !important;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }

    .service:hover .delete-icon,
    .env:hover .delete-icon {
        display: inline-block;
    }
    
    .add-button {
        min-width: 40px;
        height: 32px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.configs-wrapper {
    grid-area: configs;
    padding-top: 20px;
    min-width: 0;

    mat-row {
        height: 48px;
        cursor: default;

        mat-cell {
            padding: 0 5px;

            &.remove {
                max-width: 15px;
                text-align: center;

                mat-icon {
                    cursor: pointer;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
    .add-config-button {
        margin-top: 10px;
        color: #3f51b5;
    }
}