<div>
  <h1 mat-dialog-title>Removing resource</h1>
</div>

<div mat-dialog-content>
  Are you sure you want to delete <span [innerHtml]="data"></span>
  <!-- <span *ngIf='data.type === ResourceTypes.Service;then serv else env'></span>?

  <ng-template #serv>
    <b>{{data.service.serviceName}}</b> service
  </ng-template>
  <ng-template #env>
      <b>{{data.environment.environmentName}}</b> environment from <b>{{data.service.serviceName}}</b> service
  </ng-template>
   -->
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]='false'>Cancel</button>
  <button mat-button color='warn' [mat-dialog-close]='true'>Remove</button>
</div>